@{
    ViewData["Title"] = "Error";
}

<div class="takeup">
    <p class="en">You don't have access to this content. Check your status and contact admin in case you think you should have access to this page</p>
    <p class="ru">У вас нет доступа к этой странице. Проверьте статус своей заявки и свяжитесь с администрацией в случае, если вы считаете что вы должны иметь доступ</p>
</div>
