@{
    ViewData["Title"] = "FAQ";
}

<div class="row">
    <div class="container">
        <div class="row space">
            <h1 style="text-align:center;">Часто задаваемые вопросы</h1>
        </div>
        <div class="row space">
            <h6 class="h6">Действительно ли занятия бесплатные?</h6>
            <p>
                Да, занятия в нашем благотворительном проекте полностью бесплатные.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6">
                Как стать учеником? Какие есть критерии отбора?
            </h6>
            <p>
                Для того, чтобы стать учеником, достаточно зарегистрироваться на сайте. Мы ищем мотивированных детей со всей страны, однако важно понимать, что мы не готовим к поступлению в "Летово".
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6">
                Как стать учителем? Какие есть критерии отбора?
            </h6>
            <p>
                Для того, чтобы стать учителем, достаточно зарегистрироваться на сайте. После её рассмотрения куратор направления проведёт с вами собеседование, где будут оцениваться уровень владения предметом, коммуникабельность и мотивация.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6">
                Я зарегистрировался(-ась), но мне пока никто не ответил, стоит ли зарегистрироваться повторно?
            </h6>
            <p>
                Нет, регстрироваться вновь не нужно, мы обязательно просмотрим каждую регистрацию и дадим ответ, но нам потребуется время.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6">Сколько по времени будут длиться уроки?</h6>
            <p>
                Стандартная продолжительность урока - 40 минут, однако, в индивидуальных случаях вы можете договориться с учителем о её изменении.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6">Зачем мне преподавать в проекте?</h6>
            <p>
                Вы сможете приобрести ценный опыт преподавания, познакомиться с единомышленниками со всей России, а также получить благодарственное письмо, что станет большим плюсом к вашему портфолио.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6">Я подал(а) заявку на предмет, мне пришёл отказ. Могу ли я подать заявку на другой?</h6>
            <p>
                Да, вы можете подать заявку на новый предмет после отказа на другом. Для этого зайдите в свой личный кабинет и измените выбор предметов, убрав тот, на который вам пришел отказ и добавив новый.
            </p>
        </div>
    </div>
</div>