@{
    ViewData["Title"] = "FAQ";
}

<div class="row">
    <div class="container">
        <div class="row space">
            <h1 class="ru" style="text-align:center;">Часто задаваемые вопросы</h1>
            <h1 class="en" style="text-align: center">Frequently Asked Questions</h1>
         </div>
        <div class="row space">
            <h6 class="h6 ru">Действительно ли занятия бесплатные?</h6>
            <h6 class="h6 en">Are the online lessons really free?</h6>
            <p class="ru">
                Да, занятия в нашем благотворительном проекте полностью бесплатные.
            </p>
            <p class="en">
                Yes, the classes in our project are completely free of charge.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6 ru">
                Как стать учеником? Какие есть критерии отбора?
            </h6>
            <h6 class="h6 en">
                How to become a student of the project? What are the selection criteria?
            </h6>
            <p class="ru">
                Для того, чтобы стать учеником, достаточно зарегистрироваться на сайте. Мы ищем мотивированных детей со всей страны, однако важно понимать, что мы не готовим к поступлению в "Летово".
            </p>
            <p class="en">
                To become a student, it is enough to register on the website. We are looking for motivated children from all over the country; but it is important to understand that we are not preparing for admission to Letovo.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6 ru">
                Как стать учителем? Какие есть критерии отбора?
            </h6>
            <h6 class="h6 en">
                How to become a teacher of the project? What are the selection criteria?
            </h6>
            <p class="ru">
                Для того, чтобы стать учителем, достаточно зарегистрироваться на сайте. После её рассмотрения куратор направления проведёт с вами собеседование, где будут оцениваться уровень владения предметом, коммуникабельность и мотивация.
            </p>
            <p class="en">
                To become a teacher, it is enough to register on the website. After reviewing the application, the curator of the department will conduct an interview with you. The interview will assess the level of proficiency in the subject, communication skills and motivation.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6 ru">
                Я зарегистрировался(-ась), но мне пока никто не ответил, стоит ли зарегистрироваться повторно?
            </h6>
            <h6 class="h6 en">
                I have registered, but I have not received a response yet. Should I register again?
            </h6>
            <p class="ru">
                Нет, регстрироваться вновь не нужно, мы обязательно просмотрим каждую регистрацию и дадим ответ, но нам потребуется время.
            </p>
            <p class="en">
                No, there is no need to register again - we will definitely review each application and give an answer. We just need time to do this.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6 ru">Сколько по времени будут длиться уроки?</h6>
            <h6 class="h6 en">How long will the lessons last?</h6>
            <p class="ru">
                Стандартная продолжительность урока - 40 минут, однако, в индивидуальных случаях вы можете договориться с учителем о её изменении.
            </p>
            <p class="en">
                The standard duration of the lesson is 40 minutes; however, in individual cases, you can make changes by personally agreeing with the teacher.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6 ru">Зачем мне преподавать в проекте?</h6>
            <h6 class="h6 en">Why should I teach in a project?</h6>
            <p class="ru">
                Вы сможете приобрести ценный опыт преподавания, познакомиться с единомышленниками со всей России, а также получить благодарственное письмо, что станет большим плюсом к вашему портфолио.
            </p>
            <p class="en">
                You will be able to gain valuable teaching experience and meet like-minded people from all over Russia. In addition, it is an opportunity to receive a thank-you letter, which will be a great advantage to your university or work portfolio.
            </p>
        </div>
        <hr />
        <div class="row space">
            <h6 class="h6 ru">Я подал(а) заявку на предмет, мне пришёл отказ. Могу ли я подать заявку на другой?</h6>
            <h6 class="h6 en">I applied for the subject, but I was not accepted. Can I apply for another one?</h6>
            <p class="ru">
                Да, вы можете подать заявку на новый предмет после отказа на другом. Для этого зайдите в свой личный кабинет и измените выбор предметов, убрав тот, на который вам пришел отказ и добавив новый.
            </p>
            <p class="en">
                Yes, you can apply for a new subject after being rejected on another one. To do this, go to your personal account and change the selection of subjects by removing the one you were refused and adding a new one.
            </p>
        </div>
    </div>
</div>