@{
    ViewData["Title"] = "Feedback";
}

<div class="row" style="display: flex; justify-content: center;">
    <h1 style="font-size: 82px;">Обратная связь</h1>
</div>
<div class="row">
    <div class="container">
        <div id="carouselContent" class="carousel slide" data-ride="carousel" style="min-height: 30vh; align-items: center; display: flex;">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                    <p style="width: 80%; margin: auto auto;">Мой учитель – отличный репетитор, несмотря на её юный возраст. Она доброжелательна и пунктуальна. Также замечательно знает предмет и умеет его преподносить. Я очень полюбила её и довольна преподавателем. Материал даёт отлично, всегда на связи, спокойно объясняет непонятые мною темы и определения. Уровень знаний у меня значительно повысился. Я очень рада, что ведёт у меня уроки именно она.</p>
                    <br />
                    <h6>Алина Мамадыш, биология</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p style="width: 80%; margin: auto auto;">
                        Последний месяц я изучала теорию литературы с ученицей школы “Летово”. Это было что-то необыкновенное. Даже сейчас я не уверена, что это был не сон и не добрая детская сказка о волшебстве, где в конце обязательно победит добро. Это точно реальность?<br />
                        Я не смогу перечислить всё, о чём я узнала на занятиях. Все темы проходили не поверхностно, а на должном уровне. Запомнились и “лирические отступления” – здорово, когда с учителем хочется говорить. Очень понравилось, что “преподаватель” действительно любит предмет. Найти единомышленника – это всегда неожиданно, но очень приятно. Кроме того, большое спасибо  хочется сказать за полезные материалы и советы. Было безумно интересно, хотелось узнать как можно больше новой информации и как можно глубже разобраться в каждой теме. Это был ни с чем не сравнимый опыт, за который хочу сказать огромное, огромное спасибо.
                    </p>
                    <br />
                    <h6>Тамара, 9 класс, русский язык и литература</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p style="width: 80%; margin: auto auto;">Я очень рада, что смогла поучаствовать в этом проекте. Огромное спасибо ребятам, которые со мной занимались: благодаря им я узнала много нового и хорошо закрепила знания, которые у меня были. Из-за того что со мной занимались люди примерно одной возрастной категории, нам было проще найти общий язык и знания вследствие этого запомнились лучше т.к. общались мы на “одном языке”. В общем, самые хорошие впечатления (и знания) остались у меня после этого проекта.</p>
                    <br />
                    <h6>Анастасия, 9 класс, Омск, математика</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p style="width: 80%; margin: auto auto;">Я необычайно рада, что смогла попасть на этот проект! За ту пару недель, что я занималась, приобрела очень много новых знаний, которые пригодятся мне в дальнейшем. Интерес преподавателя к предмету передаётся и мне. Хочется всё больше и больше погружаться в изучаемый предмет. Огромное спасибо — коллективу, который разработал этот проект.</p>
                    <br />
                    <h6>Ульяна, 7 класс, Смоленск, математика</h6>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
