@{
    ViewData["Title"] = "Feedback";
}

<div class="row" style="display: flex; justify-content: center;">
    <h1 style="font-size: 82px;" class="ru">Обратная связь</h1>
    <h1 style="font-size: 82px;" class="en">Feedback</h1>
</div>
<div class="row">
    <div class="container">
        <div id="carouselContent" class="carousel slide" data-ride="carousel" style="min-height: 30vh; align-items: center; display: flex;">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                    <p class="en carousel-item-text">My teacher is an excellent tutor despite her young age. She is friendly and punctual. He also knows the subject perfectly and knows how to present it. I fell in love with her very much and am pleased with the teacher. The material is excellent, always in touch, calmly explains the topics and definitions I do not understand. My level of knowledge has increased significantly. I am very glad that it is she who is teaching me.</p>
                    <p class="ru carousel-item-text">Мой учитель – отличный репетитор, несмотря на её юный возраст. Она доброжелательна и пунктуальна. Также замечательно знает предмет и умеет его преподносить. Я очень полюбила её и довольна преподавателем. Материал даёт отлично, всегда на связи, спокойно объясняет непонятые мною темы и определения. Уровень знаний у меня значительно повысился. Я очень рада, что ведёт у меня уроки именно она.</p>
                    <br />
                    <h6 class="ru">Алина Мамадыш, биология</h6>
                    <h6 class="en">Alyna Mamadysh, biology</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p  class="ru carousel-item-text">
                        Последний месяц я изучала теорию литературы с ученицей школы “Летово”. Это было что-то необыкновенное. Даже сейчас я не уверена, что это был не сон и не добрая детская сказка о волшебстве, где в конце обязательно победит добро. Это точно реальность?<br />
                        Я не смогу перечислить всё, о чём я узнала на занятиях. Все темы проходили не поверхностно, а на должном уровне. Запомнились и “лирические отступления” – здорово, когда с учителем хочется говорить. Очень понравилось, что “преподаватель” действительно любит предмет. Найти единомышленника – это всегда неожиданно, но очень приятно. Кроме того, большое спасибо  хочется сказать за полезные материалы и советы. Было безумно интересно, хотелось узнать как можно больше новой информации и как можно глубже разобраться в каждой теме. Это был ни с чем не сравнимый опыт, за который хочу сказать огромное, огромное спасибо.
                    </p>
                    <p class="en carousel-item-text">
                        For the last month I have been studying the theory of literature with a student of the Letovo school. It was something extraordinary. Even now I am not sure that it was not a dream and not a kind childish fairy tale about magic, where in the end good will surely prevail. Is this really a reality?
                        I will not be able to list everything that I learned about in the classroom. All topics were not superficial, but at the proper level. I also remember the “lyrical digressions” - it's great when you want to talk to the teacher. I really liked that the “teacher” really loves the subject. Finding a like-minded person is always unexpected, but very pleasant. In addition, I would like to say a big thank you for the helpful materials and advice. It was incredibly interesting, I wanted to learn as much new information as possible and to understand as deeply as possible in each topic. It was an incomparable experience, for which I want to say a huge, huge thank you.
                    </p>
                    <br />
                    <h6 class="ru">Тамара, 9 класс, русский язык и литература</h6>
                    <h6 class="en">Tamara, grade 9, Russian language and literature</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="carousel-item-text en">I am very glad that I was able to participate in this project. Many thanks to the guys who worked with me: thanks to them, I learned a lot of new things and well consolidated the knowledge that I had. Due to the fact that people of about the same age group studied with me, it was easier for us to find a common language and knowledge, as a result of this, was remembered better. we communicated in “the same language”. In general, I have the best impressions (and knowledge) after this project.</p>
                    <p class="carousel-item-text ru">Я очень рада, что смогла поучаствовать в этом проекте. Огромное спасибо ребятам, которые со мной занимались: благодаря им я узнала много нового и хорошо закрепила знания, которые у меня были. Из-за того что со мной занимались люди примерно одной возрастной категории, нам было проще найти общий язык и знания вследствие этого запомнились лучше т.к. общались мы на “одном языке”. В общем, самые хорошие впечатления (и знания) остались у меня после этого проекта.</p>
                    <br />
                    <h6 class="en">Anastasia, grade 9, Omsk, mathematics</h6>
                    <h6 class="ru">Анастасия, 9 класс, Омск, математика</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="en carousel-item-text">I am extremely glad that I was able to get on this project! During the couple of weeks that I was studying, I acquired a lot of new knowledge that will be useful to me in the future. The teacher's interest in the subject is transferred to me. I would like to immerse myself more and more in the subject being studied. Many thanks to the team that developed this project.</p>
                    <p class="ru carousel-item-text">Я необычайно рада, что смогла попасть на этот проект! За ту пару недель, что я занималась, приобрела очень много новых знаний, которые пригодятся мне в дальнейшем. Интерес преподавателя к предмету передаётся и мне. Хочется всё больше и больше погружаться в изучаемый предмет. Огромное спасибо — коллективу, который разработал этот проект.</p>
                    <br />
                    <h6 class="ru">Ульяна, 7 класс, Смоленск, математика</h6>
                    <h6 class="en">Ulyana, grade 7, Smolensk, mathematics</h6>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
