@{
    ViewData["Title"] = "Feedback";
}

<div class="row" style="display: flex; justify-content: center;">
    <h1 style="font-size: 82px;" class="ru">Обратная связь</h1>
    <h1 style="font-size: 82px;" class="en">Feedback</h1>
</div>
<div class="row">
    <div class="container">
        <div id="carouselContent" class="carousel slide" data-ride="carousel" style="min-height: 30vh; align-items: center; display: flex;">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                    <p class="en carousel-item-text">My teacher is an excellent tutor despite her young age. She is friendly and punctual. He also knows the subject perfectly and knows how to present it. I fell in love with her very much and am pleased with the teacher. The material is excellent, always in touch, calmly explains the topics and definitions I do not understand. My level of knowledge has increased significantly. I am very glad that it is she who is teaching me.</p>
                    <p class="ru carousel-item-text">Мой учитель – отличный репетитор, несмотря на её юный возраст. Она доброжелательна и пунктуальна. Также замечательно знает предмет и умеет его преподносить. Я очень полюбила её и довольна преподавателем. Материал даёт отлично, всегда на связи, спокойно объясняет непонятые мною темы и определения. Уровень знаний у меня значительно повысился. Я очень рада, что ведёт у меня уроки именно она.</p>
                    <br />
                    <h6 class="ru">Алина Мамадыш, биология</h6>
                    <h6 class="en">Alyna Mamadysh, biology</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="ru carousel-item-text">
                        Последний месяц я изучала теорию литературы с ученицей школы “Летово”. Это было что-то необыкновенное. Даже сейчас я не уверена, что это был не сон и не добрая детская сказка о волшебстве, где в конце обязательно победит добро. Это точно реальность?<br />
                        Я не смогу перечислить всё, о чём я узнала на занятиях. Все темы проходили не поверхностно, а на должном уровне. Запомнились и “лирические отступления” – здорово, когда с учителем хочется говорить. Очень понравилось, что “преподаватель” действительно любит предмет. Найти единомышленника – это всегда неожиданно, но очень приятно. Кроме того, большое спасибо  хочется сказать за полезные материалы и советы. Было безумно интересно, хотелось узнать как можно больше новой информации и как можно глубже разобраться в каждой теме. Это был ни с чем не сравнимый опыт, за который хочу сказать огромное, огромное спасибо.
                    </p>
                    <p class="en carousel-item-text">
                        For the last month I have been studying the theory of literature with a student of the Letovo school. It was something extraordinary. Even now I am not sure that it was not a dream and not a kind childish fairy tale about magic, where in the end good will surely prevail. Is this really a reality?
                        I will not be able to list everything that I learned about in the classroom. All topics were not superficial, but at the proper level. I also remember the “lyrical digressions” - it's great when you want to talk to the teacher. I really liked that the “teacher” really loves the subject. Finding a like-minded person is always unexpected, but very pleasant. In addition, I would like to say a big thank you for the helpful materials and advice. It was incredibly interesting, I wanted to learn as much new information as possible and to understand as deeply as possible in each topic. It was an incomparable experience, for which I want to say a huge, huge thank you.
                    </p>
                    <br />
                    <h6 class="ru">Тамара, 9 класс, русский язык и литература</h6>
                    <h6 class="en">Tamara, grade 9, Russian language and literature</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="carousel-item-text en">I am very glad that I was able to participate in this project. Many thanks to the guys who worked with me: thanks to them, I learned a lot of new things and well consolidated the knowledge that I had. Due to the fact that people of about the same age group studied with me, it was easier for us to find a common language and knowledge, as a result of this, was remembered better. we communicated in “the same language”. In general, I have the best impressions (and knowledge) after this project.</p>
                    <p class="carousel-item-text ru">Я очень рада, что смогла поучаствовать в этом проекте. Огромное спасибо ребятам, которые со мной занимались: благодаря им я узнала много нового и хорошо закрепила знания, которые у меня были. Из-за того что со мной занимались люди примерно одной возрастной категории, нам было проще найти общий язык и знания вследствие этого запомнились лучше т.к. общались мы на “одном языке”. В общем, самые хорошие впечатления (и знания) остались у меня после этого проекта.</p>
                    <br />
                    <h6 class="en">Anastasia, grade 9, Omsk, mathematics</h6>
                    <h6 class="ru">Анастасия, 9 класс, Омск, математика</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="en carousel-item-text">I am extremely glad that I was able to get on this project! During the couple of weeks that I was studying, I acquired a lot of new knowledge that will be useful to me in the future. The teacher's interest in the subject is transferred to me. I would like to immerse myself more and more in the subject being studied. Many thanks to the team that developed this project.</p>
                    <p class="ru carousel-item-text">Я необычайно рада, что смогла попасть на этот проект! За ту пару недель, что я занималась, приобрела очень много новых знаний, которые пригодятся мне в дальнейшем. Интерес преподавателя к предмету передаётся и мне. Хочется всё больше и больше погружаться в изучаемый предмет. Огромное спасибо — коллективу, который разработал этот проект.</p>
                    <br />
                    <h6 class="ru">Ульяна, 7 класс, Смоленск, математика</h6>
                    <h6 class="en">Ulyana, grade 7, Smolensk, mathematics</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="en carousel-item-text">
                        Classes with teacher give my child delight. She does every homework with pleasure - we, as parents, do not force our daughter to study. She does everything herself, and this happens for the first time - I had to persuade her before.

                        Out teacher is someone who can definitely bring knowledge to the student. Previously, we tried to study on our own, but nothing worked out; Lucy explains everything clearly, and Sofia understands all the material.

                        Teacher is always in touch, and her drawings... her drawings are a storehouse of useful things that allow our daughter to understand the topic without any difficulties.

                        I would like to thank teacher and the Project for the opportunity to learn from professionals.
                    </p>
                    <p class="ru carousel-item-text">Занятия с преподавателем доставляют ребенку восторг. Каждое домашнее задание она выполняет с удовольствием, мы, как родители, не принуждаем учиться ребенка, она все делает сама, такое случилось впервые, раньше приходилось ее заставлять делать что-то. Наш преподаватель - это учитель, который точно сможет донести знания до ребенка и это видно, ведь раньше мы сами пытались заниматься самостоятельно, но ничего у нас не получалось, Преподаватель же все доходчиво объясняет и Софья все понимает. Люся всегда находится на связи, а ее рисунки - это кладезь полезностей, которые позволят ребенку освоить тему без каких-либо сложностей. Хочется поблагодарить преподавателя и проект за возможность учиться у профессионалов.</p>
                    <br />
                    <h6 class="ru">Мать Ванеевой Софьи, английский язык</h6>
                    <h6 class="en">Vaneeva Sofia's mother, english language</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="en carousel-item-text">Everything is great, and the child is very happy with both the original approach and the attitude - classes are interesting and fun! Great teacher with excellent skills in English and pedagogy!</p>
                    <p class="ru carousel-item-text">Все очень здорово, ребенок очень доволен и оригинальным подходом и отношением, ему очень интересно и весело! Отличный преподаватель, имеет шикарные навыки как в английском, так и в педагогике.</p>
                    <br />
                    <h6 class="ru">Родитель Кравченко Александра, английский язык</h6>
                    <h6 class="en">Kravchenko Aleksandr's parent, english language</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="en carousel-item-text">
                        found out about the project by chance from the Internet. I decided to enroll my two children in reading classes. It was incredible luck!

                        A wonderful teacher worked with us. She took her classes seriously and professionally. At each lesson there was not only reading and discussion of what was read, but also small comprehension tests.

                        The children liked it, despite the fact that some classes have moved into the summer! :) Thank you for such a project!
                    </p>
                    <p class="ru carousel-item-text">Я случайно узнала в сети о проекте школы "Летово". Решила попробовать отдать своих двоих детей на занятия чтением. Нам очень повезло. С нами занималась чудесная преподаватель. Она серьезно и профессионально подошла к занятиям. На каждом уроке было не только чтение и обсуждение прочитанного, но и небольшие тестики на понимание. Детям понравилось, не смотря на то, что некоторые занятия перешли в лето! :) Спасибо за такой проект!</p>
                    <br />
                    <h6 class="ru">Мама Темы и Вероники, 3 класс, литературное чтение</h6>
                    <h6 class="en">Artem and Veronika's mother, 3rd grade, literature reading</h6>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
