@{
    ViewData["Title"] = "Register";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <span class="login100-form-title p-b-26">
                Добро пожаловать
            </span>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" asp-action="Create" asp-controller="Students">
                        Я студент
                    </a>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" asp-action="Create" asp-controller="Teachers">
                        Я учитель
                    </a>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" asp-action="CreateAdmin" asp-controller="Teachers">
                        Я админ
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>