@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a asp-controller="Students" asp-action="Create">I'm a student</a>
            <a asp-controller="Teachers" asp-action="Create">I'm a teacher</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>