@{
    ViewData["Title"] = "Become student";
}

<div class="row">
    <div class="col-md-3 promoteBlock">
        <img src="~/img/icons/idea.png" alt="idea" class="promote" style="height:13vh;" />
        <h1 class="h1 ru">Выбери предмет</h1>
        <h1 class="h1 en">Choose a subject</h1>
        <p class="p1 ru">Выберите предмет, на который вы хотите подать заявку.</p>
        <p class="p1 en">Select the subject you want to apply for</p>
    </div>
    <div class="col-md-3 promoteBlock2">
        <img src="~/img/icons/pen.png" alt="pen" class="promote" />
        <h1 class="h1 ru">Заполни форму</h1>
        <h1 class="h1 en">Fill out the form</h1>
        <p class="p2 ru">Нажмите на кнопку "Записаться" в предмете, который вас интересует. Если регистрация на поток еще не открыта, дождитесь ее открытия (вам придет письмо).</p>
        <p class="p2 en">Click on the "Enroll" button in the subject that interests you</p>
    </div>
    <div class="col-md-3 promoteBlock">
        <img src="~/img/icons/chat.png" alt="chat" class="promote" />
        <h1 class="h1 ru">Ждите ответ</h1>
        <h1 class="h1 en">Wait for the answer</h1>
        <p class="p1 ru">За неделю до начала потока, решение о зачислении будет принято и отображено в вашем профиле.</p>
        <p class="p1 en">Within a week, the decision on enrollment will be made and displayed in your profile</p>
    </div>
    <div class="col-md-3 promoteBlock2">
        <img src="~/img/icons/pc.png" alt="pc" class="promote" />
        <h1 class="h1 ru">Начинайте заниматься!</h1>
        <h1 class="h1 en">Start studying!</h1>
        <p class="p2 ru">Если вы приняты в проект, учитель создаст курс и свяжется с вами, чтобы договориться о времени занятий. </p>
        <p class="p2 en">If you are accepted into the project, the teacher will create a course and contact you to arrange the time of online-classes</p>
    </div>
</div>
<div class="row">
    <div class="container">
        <h1 class="h en">Training programs</h1>
        <h1 class="h ru">Направления обучения</h1>
        <hr class="splitter" />
        <div class="container">
            <div class="row">
                @{
                    List<Major> majors = ViewBag.Majors;

                    int cnt = 0;
                    int len = majors.Count();

                    foreach (var major in majors)
                    {
                        cnt++;
                        if (cnt % 3 == 1)
                        {
                        @:</div><div class="row">
                            if (len - cnt == 0)
                            {
                                <div class="col-md-4"></div>
                            }
                            else if (len - cnt == 1)
                            {
                                <div class="col-md-2"></div>
                            }
                        }


                        <div class="col-md-4">
                            <div class="wsk-cp-product">
                                <div class="wsk-cp-img">
                                    @{
                                        if (major.Image == null)
                                        {
                                            <img src="~/img/major.png" alt="courseImage" class="img-responsive" />
                                        }
                                        else
                                        {
                                            <img src="@major.Image" alt="courseImage" class="img-responsive" />
                                        }
                                    }
                                </div>
                                <div class="wsk-cp-text">
                                    <a class="category" asp-action="Create" asp-controller="Students">
                                        <span>Записаться</span>
                                    </a>
                                    <div class="title-product">
                                        <h3>@major.Title</h3>
                                    </div>
                                    <div class="descirption-prod">
                                        <p>
                                            <a asp-controller="Majors" asp-action="Details" asp-route-id="@major.Id">Детали</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>