@{
    ViewData["Title"] = "Become teacher";
}

<div class="row">
    <div class="container">
        <div class="row space" style="justify-content:center">
            <h2 class="hp ru">Наша дружная команда ждет именно тебя!</h2>
            <h2 class="hp en">Our tight-knit team is waiting for you!</h2>
        </div>
        <div class="row space" style="justify-content:center">
            <a asp-action="Create" asp-controller="Teachers" class="button-block ru" style="text-align:center">Стать учителем</a>
            <a asp-action="Create" asp-controller="Teachers" class="button-block en" style="text-align:center">Become a teacher</a>
        </div>
        <div class="row space">
            <h2 class="hp ru">
                Кто такой учитель PriceLess.Edu?
            </h2>
            <h2 class="hp en">
                Who is the PriceLess.Edu teacher?
            </h2>
        </div>
        <div class="row space">
            <p class="pp ru">Это человек, заинтересованный в образовании и неравнодушный к окружающим.</p>
            <p class="pp en">This is a person interested in education and not indifferent to others.</p>
        </div>
        <div class="row space">
            <p class="pp ru">
                Присоединившись к команде учителей PriceLess.Edu, можно получить очень ценный опыт:<br /> - пообщаться с заинтересованными ребятами со всех уголков России и зарубежья,

                <br />- провести время, рассказывая о любимом предмете,

                <br />- приобрести важные в наше время навыки публичного говорения, быстрой адаптации к ситуации, тайм-менеджмента.

                <br />Каждый учитель, вне зависимости от предмета, который он преподает, помогает развитию проекта!
            </p>
            <p class="pp en">
                By joining the PriceLess.Edu teacher team, you can gain valuable experience:
                <br /> - To communicate with interested volunteers from all over Russia and abroad,

                <br />- To spend time telling and discussing your favorite subject,

                <br />- To acquire important modern skills, including public speaking, quick adaptation to situations, and time management.

                <br />Every volunteer, regardless of the subject he teaches, helps the development of the project!
            </p>
        </div>
        <div class="row space">
            <h2 class="hp ru">Плюсы преподавания именно в PriceLess.Edu:</h2>
            <h2 class="hp en">The advantages of teaching in PriceLess.Edu:</h2>
        </div>
        <div class="row space">
            <p class="pp ru">PriceLess.Edu предлагает своим учителям полную свободу выбора: каждый учитель сам выбирает заявку ученика, с которым комфортнее всего работать, сам составляет программу и расписание занятий.</p>
            <p class="pp en">PriceLess.Edu offers its teachers complete freedom of choice: each teacher chooses the student with whom it is most comfortable to work. The teacher also independently draws up the program and schedule of lessons.</p>
        </div>
        <div class="row space">
            <h2 class="hp ru">
                Вас будет курировать опытная команда!
            </h2>
            <h2 class="hp en">
                You will be supervised by an experienced team!
            </h2>
        </div>
        <div class="row space">
            <p class="pp ru">У каждого предмета есть куратор – человек, который также отлично владеет этим предметом. Он или она всегда на связи с учителем, чтобы ответить на любые организационные вопросы, помочь с составлением плана занятий или связаться с учениками.</p>
            <p class="pp en">Each subject has a curator – a person who also has excellent knowledge in this area. He or she is always in touch with the teacher to answer any organizational questions, help with drawing up a lesson plan or contact students.</p>
        </div>
        <div class="row space">
            <h2 class="hp ru">Проект обеспечит не только помощь окружающим, но и приятные бонусы себе!</h2>
            <h2 class="hp en">Participating in the project brings not only help to others, but also pleasant bonuses directly to the teacher!</h2>
        </div>
        <div class="row space">
            <p class="pp ru">Конечно, нельзя не упомянуть о важности участия в проекте PriceLess.Edu в качестве учителя. Помимо незабываемого опыта и знакомства с новыми интересными людьми, вы повлияете на проблему неравенства в доступе к качественному образованию в России. Безусловно, Ваш труд не может быть не вознагражден: каждый учитель сможет получить благодарственное письмо об участии в проекте, которое можно будет предъявить при поступлении в высшие учебные заведения.</p>
            <p class="pp en">It is impossible not to mention the importance of participating in the PriceLess.Edu project as a teacher. In addition to an unforgettable experience and meeting new interesting people, you will influence the problem of inequality in access to high-standard education in Russia. Of course, your work will be rewarded: every teacher will receive a letter of thanks for participating in the project, which can later be submitted to your university application.</p>
        </div>
    </div>
</div>