@{
    ViewData["Title"] = "Become teacher";
}

<div class="row">
    <div class="container">
        <div class="row space">
            <h2 class="hp">
                Кто такой учитель PriceLess.Edu?
            </h2>
        </div>
        <div class="row space">
            <p class="pp">Это человек, заинтересованный в образовании и неравнодушный к окружающим.</p>
        </div>
        <div class="row space">
            <p class="pp">
                Присоединившись к команде учителей PriceLess.Edu, можно получить очень ценный опыт:<br /> - пообщаться с заинтересованными ребятами со всех уголков России и зарубежья,

                <br />- провести время, рассказывая о любимом предмете,

                <br />- приобрести важные в наше время навыки публичного говорения, быстрой адаптации к ситуации, тайм-менеджмента.

                <br />Каждый учитель, вне зависимости от предмета, который он преподает, помогает развитию проекта!
            </p>
        </div>
        <div class="row space">
            <h2 class="hp">Плюсы преподавания именно в PriceLess.Edu:</h2>
        </div>
        <div class="row space">
            <p class="pp">PriceLess.Edu предлагает своим учителям полную свободу выбора: каждый учитель сам выбирает заявку ученика, с которым комфортнее всего работать, сам составляет программу и расписание занятий.</p>
        </div>
        <div class="row space">
            <h2 class="hp">
                Вас будет курировать опытная команда!
            </h2>
        </div>
        <div class="row space">
            <p class="pp">У каждого предмета есть куратор – человек, который также отлично владеет этим предметом. Он или она всегда на связи с учителем, чтобы ответить на любые организационные вопросы, помочь с составлением плана занятий или связаться с учениками.</p>
        </div>
        <div class="row space">
            <h2 class="hp">Проект обеспечит не только помощь окружающим, но и приятные бонусы себе!</h2>
        </div>
        <div class="row space">
            <p class="pp">Конечно, нельзя не упомянуть о важности участия в проекте PriceLess.Edu в качестве учителя. Помимо незабываемого опыта и знакомства с новыми интересными людьми, вы повлияете на проблему неравенства в доступе к качественному образованию в России. Безусловно, Ваш труд не может быть не вознагражден: каждый учитель сможет получить благодарственное письмо об участии в проекте, которое можно будет предъявить при поступлении в высшие учебные заведения.</p>
        </div>
        <div class="row space" style="justify-content:center">
            <h2 class="hp">Наша дружная команда ждет именно тебя!</h2>
        </div>
        <div class="row space" style="justify-content:center">
            <a asp-action="Create" asp-controller="Teachers" class="button-block" style="text-align:center">Стать учителем</a>
        </div>
    </div>
</div>