/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #baab94;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    display:flex;
    flex-direction: column;
    background-color: transparent;
}

.footer {
    flex-shrink: 0;
    margin-top: -16px;
    background-color: #DCAC83;
}

.wrapper {
    flex: 1 0 auto;
}

.bg-custom {
    background-color: #DCAC83;
}

.dropdown-item:hover {
    background-color: #f3c0bd;
}

.dropdown-menu {
    background-color: #e69e9a;
    padding: 0;
    border-radius: 20px;
}

.dropdown-item:first-child {
    border-radius: 20px 20px 0 0;
}

.dropdown-item:last-child {
    border-radius: 0 0 20px 20px;
}

.rounded-circle {
    max-height: 40px; 
}

.bg-custom-2 {
    background-color: #f3c0bd;
}

.bg-custom-3 {
    background-color: #e69e9a;
}

.navbar-light .navbar-nav .nav-link {
    color: #555555;
}

.exp {
    margin: auto 20px;
}

.helper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.button-block {
    transition: all 0.2s ease, visibility 0s;
    width: 40%;
    text-align: center;
    background: white;
    border: solid 1px #923631;
    padding: 10px;
    color: #6c9056;
}

.button-block:hover {
    background-color: #923631;
    color: white;
    text-decoration: none;
}

.h {
    font-size: 50px;
    color: #2D1E0E;
}

.splitter {
    max-width: 250px;
    height: 16px;
    border: 0;
    background-color: #f3c0bd;
}

.wsk-cp-product {
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    margin: 20px auto;
}

.wsk-cp-img {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

    .wsk-cp-img img {
        max-height: 12rem;
        max-width: 100%;
        transition: all 0.2s ease-in-out;
        border-radius: 6px;
    }

.wsk-cp-product:hover .wsk-cp-img {
    top: -40px;
}

    .wsk-cp-product:hover .wsk-cp-img img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

.wsk-cp-text {
    text-align: center;
    padding-top: 60%;
}

    .wsk-cp-text .category {
        font-size: 12px;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 45px;
        position: relative;
        transition: all 0.2s ease-in-out;
    }

        .wsk-cp-text .category > * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
        }

        .wsk-cp-text .category > span {
            padding: 12px 30px;
            border: 1px solid #313131;
            background: #212121;
            color: #fff;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            border-radius: 27px;
            transition: all 0.05s ease-in-out;
        }

.wsk-cp-product:hover .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
    margin-top: 0px;
}

.wsk-cp-text .title-product {
    text-align: center;
}

    .wsk-cp-text .title-product h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 25px auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

@media screen and (max-width: 991px) {
    .wsk-cp-product {
        margin: 40px auto;
    }

        .wsk-cp-product .wsk-cp-img {
            top: -40px;
        }

            .wsk-cp-product .wsk-cp-img img {
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }

        .wsk-cp-product .wsk-cp-text .category > span {
            border-color: #ddd;
            box-shadow: none;
            padding: 11px 28px;
        }

        .wsk-cp-product .wsk-cp-text .category {
            margin-top: 0px;
        }

    a.buy-btn {
        border-color: #FF9800;
        background: #FF9800;
        color: #fff;
    }
}